body {
  padding: 2em;
  background-color: antiquewhite;

}

main {
  padding: .5em;
  background-color: salmon;
  flex: auto;
}

footer {
  padding: 5em;
  background-color: brown;
  flex: auto
}

.menubar {
  padding: 10em;
  background-color: burlywood;
  flex: auto;

}